:root{
  --primeira-cor: #191D32;
  --segunda-cor: #001F54;
  --terceira-cor: #FF7F11;
  --quarta-cor: #999999;
  --quinta-cor: #ffffff;
  --sexta-cor: red;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
